.btn {
  background-color: #e53935;
  color: white;
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 13px;
  border: 1px solid #b71c1c;
}

.btn-square {
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  color: #e53935;
}